<!DOCTYPE html>
<html>
<head>
  <title>Reachability Fixture</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>

<div id="reachability" style="display:none">
  <h1><font color="red">Unable to reach server!</font></h1>
</div>

</body>
</html>