<!DOCTYPE html>
<html>
<head>
  <title>Rails Server</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="reachability" style="display:none">
  <h1><font color="red">Unable to reach the server!</font></h1>
  <br>
</div>
<%= yield %>
</body>
</html>
